<template>
    <div id="layoutAuthentication" style="background: #033950 !important;">
        <div id="layoutAuthentication_content">
            <main>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5">
                            <div class="card shadow-lg border-0 rounded-lg mt-5 box-shadow">
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                                <div class="card-body">
                                    <form @submit.prevent="login()">
                                        <div class="form-floating mb-3">
                                            <input class="form-control" :class="errors.email ? 'is-invalid' : ''" v-model="user.email" id="email" type="email" placeholder="Email" />
                                            <label for="email">Email</label>
                                            <div class="invalid-feedback" v-if="errors.email">{{ errors.email[0] }}</div>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input class="form-control" :class="errors.password ? 'is-invalid' : ''" v-model="user.password" id="password" type="password" placeholder="Password" />
                                            <label for="password">Password</label>
                                            <div class="invalid-feedback" v-if="errors.password">{{ errors.password[0] }}</div>
                                        </div>
                                        <div class="form-check mb-3">
                                            <input class="form-check-input" v-model="user.remember_me" id="remember_me" type="checkbox" />
                                            <label class="form-check-label" for="remember_me">Remember Password</label>
                                        </div>
                                        <div class="mt-4 mb-0 text-center">
                                            <button type="submit" class="btn btn-primary">Login</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
        <div id="layoutAuthentication_footer">
            <footer class="py-4 bg-light mt-auto box-shadow">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; Company 2021</div>
                        <!--<div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>-->
                    </div>
                </div>
            </footer>
        </div>
    </div>
</template>

<script>
    import * as auth from '../../services/auth_service';
    export default {
        name: 'Login',
        created() {
            document.querySelector('body').style.backgroundColor = '#343a40';
        },
        data() {
            return {
                user: {
                    email: '',
                    password: '',
                    remember_me: false,
                },
                errors: {}
            }
        },
        methods: {
            login(){
                this.showLoading();
                axios.post('/api/auth/login', this.user)
                .then(data => {
                    auth.setToken(data.data);
                    this.$router.push('/dashboard');
                })
                .catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors
                        swal.close();
                    } else if (error.response.status == 401) {
                        swal.close();
                        this.flashMessage.error({
                            message: error.response.data.response_message,
                            time: 5000,
                            blockClass: 'w-270'
                        });
                    } else if (error.response.status == 500) {
                        swal.close();
                        this.flashMessage.error({
                            message: 'Some error occurred!',
                            time: 5000,
                            blockClass: 'w-270'
                        });
                    }
                })
            },
            showLoading() {
                swal.fire({
                    background: 'transparent',
                    allowOutsideClick: false,
                    didOpen: () => {
                        swal.showLoading()
                    }
                });
            },
        },
    }
</script>