<template>
    <div class="container-fluid px-4">
        <ol class="breadcrumb mt-4 box-shadow">
            <li class="breadcrumb-item">
                <router-link to="/dashboard">Dashboard</router-link>
            </li>
            <li class="breadcrumb-item active">Companies</li>
        </ol>

        <div class="card mb-3 box-shadow">
            <div class="card-header d-flex">
                <div class="col-md-6" style="padding-left: 0px;">
                    <span>
                        <i class="fas fa-tags"></i>
                        Companies Management
                    </span>
                </div>
                <div class="col-md-6 text-right" style="padding-right: 0px;">
                    <button v-if="this.keyword" class="btn btn-warning btn-sm ml-auto" @click="clearFilter()"><i class="fas fa-broom"></i> Clear Filter</button>
                    <button class="btn btn-primary btn-sm ml-auto" @click="list()"><i class="fas fa-sync-alt"></i> Refresh</button>
                    <button class="btn btn-success btn-sm ml-auto" @click="showCompanyFormModal"><i class="fas fa-plus"></i> Create New</button>
                </div>
            </div>
            <div class="card-body">
                <div translate="translate" class="bd-example vue-example vue-example-b-table-complete">
                    <div class="row">
                        <div class="my-1 col-md-4">
                            <div role="group" class="form-row form-group mb-0">
                                <label for="per-page-select" class="col-md-3 col-form-label col-form-label-sm text-sm-right">Per page</label>
                                <div class="col col-md-3">
                                    <select id="per-page-select" class="custom-select custom-select-sm" v-model="paging" @change="list()">
                                        <option>10</option> 
                                        <option>25</option> 
                                        <option>50</option> 
                                        <option>100</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="my-1 col-md-4"></div>
                        <div class="my-1 col-md-4">
                            <div role="group" class="form-row form-group mb-0">
                                <div class="col">
                                    <div role="group" class="input-group input-group-sm">
                                        <input id="filter-input" type="text" placeholder="Type to Search" class="form-control" v-model="keyword"> 
                                        <div class="input-group-append"><button type="button" :disabled="!keyword" class="btn btn-secondary" @click="clearSearch()">Clear</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table aria-rowcount="12" role="table" aria-busy="false" aria-colcount="4" class="my-1 table b-table bv-docs-table table-striped table-bordered">
                        <thead role="rowgroup" class="">
                            <tr role="row" class="">
                                <th class="text-center">
                                    ID
                                    <i v-if="order == 'id' && by == 'asc'" @click="sort('id', 'desc')" class="fas fa-sort-up"></i>
                                    <i v-else-if="order == 'id' && by == 'desc'" @click="sort('id', 'asc')" class="fas fa-sort-down"></i>
                                    <i v-else @click="sort('id', 'asc')" class="fas fa-sort" style="color: #9fa5aa;"></i>
                                </th>
                                <th class="text-center">
                                    Name
                                    <i v-if="order == 'name' && by == 'asc'" @click="sort('name', 'desc')" class="fas fa-sort-up"></i>
                                    <i v-else-if="order == 'name' && by == 'desc'" @click="sort('name', 'asc')" class="fas fa-sort-down"></i>
                                    <i v-else @click="sort('name', 'asc')" class="fas fa-sort" style="color: #9fa5aa;"></i>
                                </th>
                                <th class="text-center">
                                    Email
                                    <i v-if="order == 'email' && by == 'asc'" @click="sort('email', 'desc')" class="fas fa-sort-up"></i>
                                    <i v-else-if="order == 'email' && by == 'desc'" @click="sort('email', 'asc')" class="fas fa-sort-down"></i>
                                    <i v-else @click="sort('email', 'asc')" class="fas fa-sort" style="color: #9fa5aa;"></i>
                                </th>
                                <th class="text-center">
                                    Website
                                    <i v-if="order == 'website' && by == 'asc'" @click="sort('website', 'desc')" class="fas fa-sort-up"></i>
                                    <i v-else-if="order == 'website' && by == 'desc'" @click="sort('website', 'asc')" class="fas fa-sort-down"></i>
                                    <i v-else @click="sort('website', 'asc')" class="fas fa-sort" style="color: #9fa5aa;"></i>
                                </th>
                                <th class="text-center">
                                    Logo
                                </th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody role="rowgroup">
                            <tr role="row" v-for="company, key in companies">
                                <td class="">{{ company.id }}</td>
                                <td class="">{{ company.name }}</td>
                                <td class="">{{ company.email }}</td>
                                <td class=""> <a :href="company.website" target="_blank">{{ company.website }}</a></td>
                                <td class="text-center">
                                    <span v-if="company.logo" @click="showCompanyLogoModal(company)">
                                        <img :src="`/storage/${company.logo}`" :alt="company.name" class="table-image" style="height: 30px;" />
                                    </span>
                                </td>
                                <td class="text-center">
                                    <button class="btn btn-primary btn-sm" @click="show(company)"><span class="fas fa-folder-open"></span></button>
                                    <button class="btn btn-warning btn-sm" @click="edit(company)"><span class="fas fa-edit"></span></button>
                                    <button class="btn btn-danger btn-sm" @click="destroy(company.id)"><span class="fas fa-trash"></span></button>
                                </td>
                            </tr>
                            <tr v-if="companies.length < 1">
                                <td colspan="6" class="text-center">
                                    Data not found
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="my-1 col-md-6">
                            <ul v-bind:class="{disabled: pagination.prev_link == 'null' || pagination.prev_link == 'null' + params}" class="pagination my-0 b-pagination pagination-sm text-center">
                                <li v-bind:class="{disabled: pagination.prev_link == 'null' || pagination.prev_link == 'null' + params}" class="page-item flex-fill">
                                    <a v-if="pagination.prev_link == 'null' || pagination.prev_link == 'null' + params" href="javascript:void(0)" class="page-link">Previous</a>
                                    <a v-else href="javascript:void(0)" @click="list(pagination.prev_link)" class="page-link">Previous</a>
                                </li>
                                <li v-for="n in pagination.pagesArray" v-bind:key="n" v-bind:class="{active: pagination.current_page == n}" class="page-item flex-fill d-flex">
                                    <a v-if="pagination.current_page == n" href="javascript:void(0)" class="page-link flex-grow-1">{{ n }}</a>
                                    <a v-else href="javascript:void(0)" @click="list(pagination.path_page + n + params)" class="page-link flex-grow-1">{{ n }}</a>
                                </li>
                                <li v-bind:class="{disabled: pagination.next_link == 'null' || pagination.next_link == 'null' + params}" class="page-item flex-fill d-flex">
                                    <a v-if="pagination.next_link == 'null' || pagination.next_link == 'null' + params" href="javascript:void(0)" class="page-link">Next</a>
                                    <a v-else href="javascript:void(0)" @click="list(pagination.next_link)" class="page-link">Next</a>
                                </li>
                            </ul>
                        </div>
                        <div class="my-1 col-md-6 text-right">
                            <small tabindex="-1" class="form-text text-muted">
                                Showing
                                {{ pagination.from_page }}
                                <span v-if="pagination.total_page > 0">to</span>
                                {{ pagination.to_page }}
                                <span v-if="pagination.total_page > 0">of</span>
                                {{ pagination.total_page }}
                                entries
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <b-modal ref="companyFormModal" hide-footer title="Company Form">
            <div class="d-block">
                <form>
                    <b-container fluid>
                        <b-row class="my-1">
                            <b-col sm="4">
                                <label for="name">Name</label>
                            </b-col>
                            <b-col sm="8">
                                <b-form-input id="name" type="text" v-model="company.name"></b-form-input>
                                <div class="invalid-input" v-if="errors.name">{{ errors.name[0] }}</div>
                            </b-col>
                        </b-row>
                        <b-row class="my-1">
                            <b-col sm="4">
                                <label for="email">Email</label>
                            </b-col>
                            <b-col sm="8">
                                <b-form-input id="email" type="text" v-model="company.email" placeholder="example@mail.com"></b-form-input>
                                <div class="invalid-input" v-if="errors.email">{{ errors.email[0] }}</div>
                            </b-col>
                        </b-row>
                        <b-row class="my-1">
                            <b-col sm="4">
                                <label for="website">Website</label>
                            </b-col>
                            <b-col sm="8">
                                <b-form-input id="website" type="text" v-model="company.website" placeholder="https://www.example.com"></b-form-input>
                                <div class="invalid-input" v-if="errors.website">{{ errors.website[0] }}</div>
                            </b-col>
                        </b-row>
                        <b-row class="my-1">
                            <b-col sm="4">
                                <label for="logo">Logo</label>
                            </b-col>
                            <b-col sm="8">
                                <div v-if="company.logo">
                                    <img :src="`/storage/${company.logo}`" ref="logoDisplay" style="width: 280px;" />
                                </div>
                                <input type="file" v-on:change="attachLogo" ref="logo" class="form-control" id="logo" />
                                <div class="invalid-input" v-if="errors.logo">{{ errors.logo[0] }}</div>
                            </b-col>
                        </b-row>
                    </b-container>
                    <hr>
                    <div class="text-right">
                        <button type="button" class="btn btn-default" @click="hideCompanyFormModal()">Cancel</button>
                        <button v-if="!edit_data" type="button" class="btn btn-primary" @click="create()"><span class="fa fa-check"></span> Create</button>
                        <button v-else type="button" class="btn btn-primary" @click="update(company.id)"><span class="fa fa-check"></span> Update</button>
                    </div>
                </form>
            </div>
        </b-modal>

        <b-modal ref="companyModal" hide-footer title="Company Detail">
            <div class="d-block">
                <form>
                    <b-container fluid>
                        <b-row class="my-1">
                            <b-col sm="4">
                                <label for="name">Name</label>
                            </b-col>
                            <b-col sm="8">
                                <label for="name">{{ company.name }}</label>
                            </b-col>
                        </b-row>
                        <b-row class="my-1">
                            <b-col sm="4">
                                <label for="email">Email</label>
                            </b-col>
                            <b-col sm="8">
                                <label for="email">{{ company.email }}</label>
                            </b-col>
                        </b-row>
                        <b-row class="my-1">
                            <b-col sm="4">
                                <label for="website">Website</label>
                            </b-col>
                            <b-col sm="8">
                                <label for="website"><a :href="company.website" target="_blank">{{ company.website }}</a></label>
                            </b-col>
                        </b-row>
                        <b-row class="my-1">
                            <b-col sm="4">
                                <label for="logo">Logo</label>
                            </b-col>
                            <b-col sm="8">
                                <div v-if="company.logo">
                                    <img :src="`/storage/${company.logo}`" ref="logoDisplay" style="width: 280px;" />
                                </div>
                            </b-col>
                        </b-row>
                    </b-container>
                    <hr>
                    <div class="text-right">
                        <button type="button" class="btn btn-default" @click="hideCompanyModal()">Close</button>
                    </div>
                </form>
            </div>
        </b-modal>
        
        <b-modal ref="companyLogoModal" hide-footer title="Company Logo">
            <div class="d-block">
                <form>
                    <b-container fluid class="text-center">
                        <img :src="`/storage/${logo_preview}`" class="table-image" style="width: 400px; margin-top: 25px; margin-bottom: 25px;" />
                    </b-container>
                    <hr>
                    <div class="text-right">
                        <button type="button" class="btn btn-default" @click="hideCompanyLogoModal()">Close</button>
                    </div>
                </form>
            </div>
        </b-modal>
    </div>
</template>

<script>
    import * as auth from '../services/auth_service';
    export default {
        name: 'Company',
        data(){
            return {
                companies:[],
                company: {
                    id: '',
                    name: '',
                    email: '',
                    website: '',
                    logo: '',
                },
                logo_preview: '',
                edit_data: false,
                errors: [],
                pagination: {},
                offset: 2,
                keyword: '',
                params: '',
                paging: 10,
                awaitingSearch: false,
                order: 'created_at',
                by: 'desc',
            }
        },
        created(){
            this.list()
        },
        watch: {
            keyword: function (val) {
                if (!this.awaitingSearch) {
                    setTimeout(() => {
                        this.list();
                        this.awaitingSearch = false;
                    }, 700);
                }
                this.awaitingSearch = true;
            },
        },
        methods: {
            list(paginate){
                this.showLoading();
                paginate = paginate || '/api/companies';
                axios.get(paginate, {
                    params: {
                        keyword: this.keyword,
                        paging: this.paging,
                        order: this.order,
                        by: this.by,
                    },
                    headers: {
                        Authorization: 'Bearer '+auth.getAccessToken()
                    }
                })
                .then(response => {
                    this.companies = response.data.data.data;
                    swal.close();

                    if (!response.data.data.to) {
                        this.pagination = {};
                    }
                    
                    var from = response.data.data.current_page - this.offset;
                    if (from < 1) {
                        from = 1;
                    }
                    
                    var to = from + (this.offset * 2);
                    if (to >= response.data.data.last_page) {
                        to = response.data.data.last_page;
                    }
                    
                    var pagesArray = [];
                    while (from <= to) {
                        pagesArray.push(from);
                        from++;
                    }

                    this.pagination = {
                        pagesArray: pagesArray,
                        current_page: response.data.data.current_page,
                        last_page: response.data.data.last_page,
                        from_page: response.data.data.from,
                        to_page: response.data.data.to,
                        total_page: response.data.data.total,
                        path_page: response.data.data.path + '?page=',
                        first_link: response.data.data.first + this.params,
                        last_link: response.data.data.last + this.params,
                        prev_link: response.data.data.prev + this.params,
                        next_link: response.data.data.next + this.params,
                    }
                })
                .catch(error => console.log(error));
            },
            create(){
                this.showLoading();

                let formData = new FormData();
                formData.append('name', this.company.name);
                formData.append('email', this.company.email);
                formData.append('website', this.company.website);
                formData.append('logo', this.company.logo);

                axios.post('/api/companies', formData, {
                    headers: {
                        Authorization: 'Bearer '+auth.getAccessToken(),
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(data => {
                    this.hideCompanyFormModal()
                    this.list();
                })
                .catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors
                        swal.close();
                    }
                })
            },
            show(company){
                this.showCompanyModal();
                this.company.id = company.id;
                this.company.name = company.name;
                this.company.email = company.email;
                this.company.website = company.website;
                this.company.logo = company.logo;
            },
            edit(company){
                this.showCompanyFormModal();
                this.errors = [];
                this.edit_data = true;
                this.company.id = company.id;
                this.company.name = company.name;
                this.company.email = company.email;
                this.company.website = company.website;
                this.company.logo = company.logo;
            },
            update(id){
                this.showLoading();

                let formData = new FormData();
                formData.append('_method', 'PUT');
                formData.append('name', this.company.name);
                formData.append('email', this.company.email);
                formData.append('website', this.company.website);
                formData.append('logo', this.company.logo);

                axios.post('/api/companies/' + id, formData, {
                    headers: {
                        Authorization: 'Bearer '+auth.getAccessToken(),
                        'Content-Type': 'multipart/form-data'
                    }
                })
                .then(data => {
                    this.hideCompanyFormModal()
                    this.list();
                })
                .catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors
                        swal.close();
                    }
                })
            },
            destroy(id){
                swal.fire({
                    title: 'Are you sure ?',
                    text: 'Company will be deleted',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'Cancel',
                    reverseButtons: true
                })
                .then((result) => {
                    if (result.value) {
                        this.showLoading();
                        axios.delete('/api/companies/' + id, {
                            headers: {
                                Authorization: 'Bearer '+auth.getAccessToken()
                            }
                        })
                        .then(data => {
                            this.list()
                        })
                        .catch(error => {
                            swal.fire({
                                icon: 'error',
                                title: 'Failed',
                                text: 'Company failed to delete',
                                showConfirmButton: false,
                                timer: 1000
                            })
                        })
                    }
                })
            },
            hideCompanyFormModal() {
                this.$refs.companyFormModal.hide();
                this.clearForm();
            },
            showCompanyFormModal() {
                this.clearForm()
                this.$refs.companyFormModal.show();
            },
            hideCompanyModal() {
                this.$refs.companyModal.hide();
                this.clearForm();
            },
            showCompanyModal() {
                this.clearForm()
                this.$refs.companyModal.show();
            },
            showLoading() {
                swal.fire({
                    background: 'transparent',
                    allowOutsideClick: false,
                    didOpen: () => {
                        swal.showLoading()
                    }
                });
            },
            clearForm() {
                this.errors = [];
                this.add_data = true;
                this.edit_data = false;
                this.company.id = '';
                this.company.name = '';
                this.company.email = '';
                this.company.logo = '';
                this.company.website = '';
            },
            clearSearch() {
                this.keyword = '';
            },
            clearFilter() {
                if (this.keyword) {
                    this.keyword = '';    
                } else {
                    this.list();
                }
            },
            sort(order, by) {
                this.order = order;
                this.by = by;
                this.list();
            },
            attachLogo() {
                this.company.logo = this.$refs.logo.files[0];
                let reader = new FileReader();
                reader.addEventListener('load', function() {
                    this.$refs.logoDisplay.src = reader.result;
                }.bind(this), false);

                reader.readAsDataURL(this.company.logo);
            },
            hideCompanyLogoModal() {
                this.$refs.companyLogoModal.hide();
            },
            showCompanyLogoModal(company) {
                this.logo_preview = company.logo;
                this.$refs.companyLogoModal.show();
            },
        },
    }
</script>