<template>
    <div class="container-fluid px-4">
        <ol class="breadcrumb mt-4 box-shadow">
            <li class="breadcrumb-item active">Wellcome to Dashboard</li>
        </ol>
    </div>
</template>

<script>
    import * as auth from '../services/auth_service';
    export default {
        name: 'Dashboard',
        created(){
            swal.close();
        },
    }
</script>