<template>
    <div class="container-fluid px-4">
        <ol class="breadcrumb mt-4 box-shadow">
            <li class="breadcrumb-item">
                <router-link to="/dashboard">Dashboard</router-link>
            </li>
            <li class="breadcrumb-item active">Employees</li>
        </ol>

        <div class="card mb-3 box-shadow">
            <div class="card-header d-flex">
                <div class="col-md-6" style="padding-left: 0px;">
                    <span>
                        <i class="fas fa-tags"></i>
                        Employees Management
                    </span>
                </div>
                <div class="col-md-6 text-right" style="padding-right: 0px;">
                    <button v-if="(this.keyword_first_name) || (this.keyword_last_name) || (this.keyword_email) || (this.keyword_company) || (this.start_date_range) || (this.end_date_range)" class="btn btn-warning btn-sm ml-auto" @click="clearFilter()"><i class="fas fa-broom"></i> Clear Filter</button>
                    <button class="btn btn-primary btn-sm ml-auto" @click="list()"><i class="fas fa-sync-alt"></i> Refresh</button>
                    <button class="btn btn-success btn-sm ml-auto" @click="showEmployeeFormModal"><i class="fas fa-plus"></i> Create New</button>
                </div>
            </div>
            <div class="card-body">
                <div translate="translate" class="bd-example vue-example vue-example-b-table-complete">
                    <div class="row">
                        <div class="my-1 col-md-6">
                            <div role="group" class="form-row form-group mb-0">
                                <label for="sort-by-select" class="col-sm-3 col-form-label col-form-label-sm text-sm-right">Date added range</label>
                                <div class="col">
                                    <div role="group" class="input-group input-group-sm">
                                        <div class="col-md-4" style="padding-left: 0px; padding-right: 0px;">
                                            <date-picker v-model="start_date_range" lang="en" type="date" valueType="format" format="YYYY-MM-DD" @change="list()"></date-picker>
                                        </div>
                                        <div class="col-md-1 text-center"><strong>-</strong></div>
                                        <div class="col-md-4" style="padding-left: 10px; padding-right: 0px;">
                                            <date-picker v-model="end_date_range" lang="en" type="date" valueType="format" format="YYYY-MM-DD" @change="list()"></date-picker>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-1 col-md-6">
                            <div role="group" class="form-row form-group mb-0">
                                <label for="filter-input" class="col-sm-3 col-form-label col-form-label-sm text-sm-right">Email</label>
                                <div class="col">
                                    <div role="group" class="input-group input-group-sm">
                                        <input id="filter-input" type="text" placeholder="Type to Search" class="form-control" v-model="keyword_email"> 
                                        <div class="input-group-append"><button type="button" :disabled="!keyword_email" class="btn btn-secondary" @click="clearSearchEmail()">Clear</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-1 col-md-6">
                            <div role="group" class="form-row form-group mb-0">
                                <label for="filter-input" class="col-sm-3 col-form-label col-form-label-sm text-sm-right">First name</label>
                                <div class="col">
                                    <div role="group" class="input-group input-group-sm">
                                        <input id="filter-input" type="text" placeholder="Type to Search" class="form-control" v-model="keyword_first_name"> 
                                        <div class="input-group-append"><button type="button" :disabled="!keyword_first_name" class="btn btn-secondary" @click="clearSearchFirstName()">Clear</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-1 col-md-6">
                            <div role="group" class="form-row form-group mb-0">
                                <label for="filter-input" class="col-sm-3 col-form-label col-form-label-sm text-sm-right">Company</label>
                                <div class="col">
                                    <div role="group" class="input-group input-group-sm">
                                        <input id="filter-input" type="text" placeholder="Type to Search" class="form-control" v-model="keyword_company"> 
                                        <div class="input-group-append"><button type="button" :disabled="!keyword_company" class="btn btn-secondary" @click="clearSearchCompany()">Clear</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-1 col-md-6">
                            <div role="group" class="form-row form-group mb-0">
                                <label for="filter-input" class="col-sm-3 col-form-label col-form-label-sm text-sm-right">Last name</label>
                                <div class="col">
                                    <div role="group" class="input-group input-group-sm">
                                        <input id="filter-input" type="text" placeholder="Type to Search" class="form-control" v-model="keyword_last_name"> 
                                        <div class="input-group-append"><button type="button" :disabled="!keyword_last_name" class="btn btn-secondary" @click="clearSearchLastName()">Clear</button></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="my-1 col-md-6">
                            <div role="group" class="form-row form-group mb-0">
                                <label for="per-page-select" class="col-md-3 col-form-label col-form-label-sm text-sm-right">Per page</label>
                                <div class="col col-md-3">
                                    <select id="per-page-select" class="custom-select custom-select-sm" v-model="paging" @change="list()">
                                        <option>10</option> 
                                        <option>25</option> 
                                        <option>50</option> 
                                        <option>100</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <table aria-rowcount="12" role="table" aria-busy="false" aria-colcount="4" class="my-1 table b-table bv-docs-table table-striped table-bordered">
                        <thead role="rowgroup" class="">
                            <tr role="row" class="">
                                <th class="text-center">
                                    ID
                                    <i v-if="order == 'id' && by == 'asc'" @click="sort('id', 'desc')" class="fas fa-sort-up"></i>
                                    <i v-else-if="order == 'id' && by == 'desc'" @click="sort('id', 'asc')" class="fas fa-sort-down"></i>
                                    <i v-else @click="sort('id', 'asc')" class="fas fa-sort" style="color: #9fa5aa;"></i>
                                </th>
                                <th class="text-center">
                                    Full Name
                                    <i v-if="order == 'first_name' && by == 'asc'" @click="sort('first_name', 'desc')" class="fas fa-sort-up"></i>
                                    <i v-else-if="order == 'first_name' && by == 'desc'" @click="sort('first_name', 'asc')" class="fas fa-sort-down"></i>
                                    <i v-else @click="sort('first_name', 'asc')" class="fas fa-sort" style="color: #9fa5aa;"></i>
                                </th>
                                <th class="text-center">
                                    Company
                                </th>
                                <th class="text-center">
                                    Email
                                    <i v-if="order == 'email' && by == 'asc'" @click="sort('email', 'desc')" class="fas fa-sort-up"></i>
                                    <i v-else-if="order == 'email' && by == 'desc'" @click="sort('email', 'asc')" class="fas fa-sort-down"></i>
                                    <i v-else @click="sort('email', 'asc')" class="fas fa-sort" style="color: #9fa5aa;"></i>
                                </th>
                                <th class="text-center">
                                    Phone
                                    <i v-if="order == 'phone' && by == 'asc'" @click="sort('phone', 'desc')" class="fas fa-sort-up"></i>
                                    <i v-else-if="order == 'phone' && by == 'desc'" @click="sort('phone', 'asc')" class="fas fa-sort-down"></i>
                                    <i v-else @click="sort('phone', 'asc')" class="fas fa-sort" style="color: #9fa5aa;"></i>
                                </th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody role="rowgroup">
                            <tr role="row" v-for="employee, key in employees">
                                <td class="">{{ employee.id }}</td>
                                <td class="">{{ employee.full_name }}</td>
                                <td class=""><a href="javascript:void(0);" @click="showCompanyModal(employee.company)">{{ employee.company.name }}</a></td>
                                <td class="">{{ employee.email }}</td>
                                <td class="">{{ employee.phone }}</td>
                                <td class="text-center">
                                    <button class="btn btn-primary btn-sm" @click="show(employee)"><span class="fas fa-folder-open"></span></button>
                                    <button class="btn btn-warning btn-sm" @click="edit(employee)"><span class="fas fa-edit"></span></button>
                                    <button class="btn btn-danger btn-sm" @click="destroy(employee.id)"><span class="fas fa-trash"></span></button>
                                </td>
                            </tr>
                            <tr v-if="employees.length < 1">
                                <td colspan="6" class="text-center">
                                    Data not found
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="row">
                        <div class="my-1 col-md-6">
                            <ul v-bind:class="{disabled: pagination.prev_link == 'null' || pagination.prev_link == 'null' + params}" class="pagination my-0 b-pagination pagination-sm text-center">
                                <li v-bind:class="{disabled: pagination.prev_link == 'null' || pagination.prev_link == 'null' + params}" class="page-item flex-fill">
                                    <a v-if="pagination.prev_link == 'null' || pagination.prev_link == 'null' + params" href="javascript:void(0)" class="page-link">Previous</a>
                                    <a v-else href="javascript:void(0)" @click="list(pagination.prev_link)" class="page-link">Previous</a>
                                </li>
                                <li v-for="n in pagination.pagesArray" v-bind:key="n" v-bind:class="{active: pagination.current_page == n}" class="page-item flex-fill d-flex">
                                    <a v-if="pagination.current_page == n" href="javascript:void(0)" class="page-link flex-grow-1">{{ n }}</a>
                                    <a v-else href="javascript:void(0)" @click="list(pagination.path_page + n + params)" class="page-link flex-grow-1">{{ n }}</a>
                                </li>
                                <li v-bind:class="{disabled: pagination.next_link == 'null' || pagination.next_link == 'null' + params}" class="page-item flex-fill d-flex">
                                    <a v-if="pagination.next_link == 'null' || pagination.next_link == 'null' + params" href="javascript:void(0)" class="page-link">Next</a>
                                    <a v-else href="javascript:void(0)" @click="list(pagination.next_link)" class="page-link">Next</a>
                                </li>
                            </ul>
                        </div>
                        <div class="my-1 col-md-6 text-right">
                            <small tabindex="-1" class="form-text text-muted">
                                Showing
                                {{ pagination.from_page }}
                                <span v-if="pagination.total_page > 0">to</span>
                                {{ pagination.to_page }}
                                <span v-if="pagination.total_page > 0">of</span>
                                {{ pagination.total_page }}
                                entries
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <b-modal ref="employeeFormModal" hide-footer title="Employee Form">
            <div class="d-block">
                <form>
                    <b-container fluid>
                        <b-row class="my-1">
                            <b-col sm="4">
                                <label for="first_name">First Name</label>
                            </b-col>
                            <b-col sm="8">
                                <b-form-input id="first_name" type="text" v-model="employee.first_name"></b-form-input>
                                <div class="invalid-input" v-if="errors.first_name">{{ errors.first_name[0] }}</div>
                            </b-col>
                        </b-row>
                        <b-row class="my-1">
                            <b-col sm="4">
                                <label for="last_name">Last Name</label>
                            </b-col>
                            <b-col sm="8">
                                <b-form-input id="last_name" type="text" v-model="employee.last_name"></b-form-input>
                                <div class="invalid-input" v-if="errors.last_name">{{ errors.last_name[0] }}</div>
                            </b-col>
                        </b-row>
                        <b-row class="my-1">
                            <b-col sm="4">
                                <label for="name">Company</label>
                            </b-col>
                            <b-col sm="8">
                                <multiselect v-model="selected_companies" id="ajax" :custom-label="companyLabel" track-by="id" :class="errors.company_id ? 'form-control parsley-error' : 'form-control'" placeholder="Select Company" open-direction="bottom" :options="companies" :multiple="false" :searchable="true" :loading="isLoading" :internal-search="false" :clear-on-select="false" :close-on-select="true" :options-limit="300" :max-height="600" :show-no-results="false" :hide-selected="true" @search-change="asyncFindCompany" @select="selectedCompany"></multiselect>
                                <div class="invalid-input" v-if="errors.company_id">{{ errors.company_id[0] }}</div>
                            </b-col>
                        </b-row>
                        <b-row class="my-1">
                            <b-col sm="4">
                                <label for="email">Email</label>
                            </b-col>
                            <b-col sm="8">
                                <b-form-input id="email" type="text" v-model="employee.email" placeholder="example@mail.com"></b-form-input>
                                <div class="invalid-input" v-if="errors.email">{{ errors.email[0] }}</div>
                            </b-col>
                        </b-row>
                        <b-row class="my-1">
                            <b-col sm="4">
                                <label for="phone">Phone</label>
                            </b-col>
                            <b-col sm="8">
                                <b-form-input id="phone" type="text" v-model="employee.phone"></b-form-input>
                                <div class="invalid-input" v-if="errors.phone">{{ errors.phone[0] }}</div>
                            </b-col>
                        </b-row>
                    </b-container>
                    <hr>
                    <div class="text-right">
                        <button type="button" class="btn btn-default" @click="hideEmployeeFormModal()">Cancel</button>
                        <button v-if="!edit_data" type="button" class="btn btn-primary" @click="create()"><span class="fa fa-check"></span> Create</button>
                        <button v-else type="button" class="btn btn-primary" @click="update(employee.id)"><span class="fa fa-check"></span> Update</button>
                    </div>
                </form>
            </div>
        </b-modal>

        <b-modal ref="employeeModal" hide-footer title="Employee Detail">
            <div class="d-block">
                <form>
                    <b-container fluid>
                        <b-row class="my-1">
                            <b-col sm="4">
                                <label for="name">Full Name</label>
                            </b-col>
                            <b-col sm="8">
                                <label for="name">{{ employee.full_name }}</label>
                            </b-col>
                        </b-row>
                        <b-row class="my-1">
                            <b-col sm="4">
                                <label for="company">Company</label>
                            </b-col>
                            <b-col sm="8">
                                <label for="company"><a href="javascript:void(0);" @click="showCompanyModal(employee.company)">{{ employee.company.name }}</a></label>
                            </b-col>
                        </b-row>
                        <b-row class="my-1">
                            <b-col sm="4">
                                <label for="email">Email</label>
                            </b-col>
                            <b-col sm="8">
                                <label for="name">{{ employee.email }}</label>
                            </b-col>
                        </b-row>
                        <b-row class="my-1">
                            <b-col sm="4">
                                <label for="phone">Phone</label>
                            </b-col>
                            <b-col sm="8">
                                <label for="phone">{{ employee.phone }}</label>
                            </b-col>
                        </b-row>
                    </b-container>
                    <hr>
                    <div class="text-right">
                        <button type="button" class="btn btn-default" @click="hideEmployeeModal()">Close</button>
                    </div>
                </form>
            </div>
        </b-modal>
        
        <b-modal ref="companyModal" hide-footer title="Company Detail">
            <div class="d-block">
                <form>
                    <b-container fluid>
                        <b-row class="my-1">
                            <b-col sm="4">
                                <label for="name">Name</label>
                            </b-col>
                            <b-col sm="8">
                                <label for="name">{{ company.name }}</label>
                            </b-col>
                        </b-row>
                        <b-row class="my-1">
                            <b-col sm="4">
                                <label for="email">Email</label>
                            </b-col>
                            <b-col sm="8">
                                <label for="name">{{ company.email }}</label>
                            </b-col>
                        </b-row>
                        <b-row class="my-1">
                            <b-col sm="4">
                                <label for="website">Website</label>
                            </b-col>
                            <b-col sm="8">
                                <label for="name"><a :href="company.website" target="_blank">{{ company.website }}</a></label>
                            </b-col>
                        </b-row>
                        <b-row class="my-1">
                            <b-col sm="4">
                                <label for="logo">Logo</label>
                            </b-col>
                            <b-col sm="8">
                                <div v-if="company.logo">
                                    <img :src="`/storage/${company.logo}`" ref="logoDisplay" style="width: 280px;" />
                                </div>
                            </b-col>
                        </b-row>
                    </b-container>
                    <hr>
                    <div class="text-right">
                        <button type="button" class="btn btn-default" @click="hideCompanyModal()">Close</button>
                    </div>
                </form>
            </div>
        </b-modal>
        
        <b-modal ref="employeeLogoModal" hide-footer title="Employee Logo">
            <div class="d-block">
                <form>
                    <b-container fluid class="text-center">
                        <img :src="`/storage/${logo_preview}`" class="table-image" style="width: 400px; margin-top: 25px; margin-bottom: 25px;" />
                    </b-container>
                    <hr>
                    <div class="text-right">
                        <button type="button" class="btn btn-default" @click="hideEmployeeLogoModal()">Close</button>
                    </div>
                </form>
            </div>
        </b-modal>
    </div>
</template>

<style>
    .multiselect {
        width: 91% !important;
        height: 30px !important;
        min-height: 0px !important;
    }

    .multiselect__tags {
        border: unset;
        padding: 0px 40px 0 0px;
        min-height: 0px !important;
    }
    
    .multiselect__content-wrapper {
        left: 0;
    }

    .multiselect__single {
        padding-left: 0px;
        margin-bottom: 0px;
        padding-top: 3px;
    }
</style>

<script>
    import * as auth from '../services/auth_service';
    export default {
        name: 'Employee',
        data(){
            return {
                employees:[],
                employee: {
                    id: '',
                    first_name: '',
                    last_name: '',
                    company_id: '',
                    email: '',
                    phone: '',
                    company: {
                        id: '',
                        name: '',
                        email: '',
                        website: '',
                        logo: '',
                    },
                },
                company: {
                    id: '',
                    name: '',
                    email: '',
                    website: '',
                    logo: '',
                },
                
                companies: [],
                selected_companies: [],

                start_date_range: '',
                end_date_range: '',

                logo_preview: '',
                edit_data: false,
                errors: [],
                pagination: {},
                offset: 2,
                keyword_first_name: '',
                keyword_last_name: '',
                keyword_email: '',
                keyword_company: '',
                params: '',
                paging: 10,
                awaitingSearch: false,
                order: 'created_at',
                by: 'desc',
                isLoading: false,
            }
        },
        created(){
            this.initCompany()
            this.list()
        },
        watch: {
            keyword_first_name: function (val) {
                if (!this.awaitingSearch) {
                    setTimeout(() => {
                        this.list();
                        this.awaitingSearch = false;
                    }, 700);
                }
                this.awaitingSearch = true;
            },
            keyword_last_name: function (val) {
                if (!this.awaitingSearch) {
                    setTimeout(() => {
                        this.list();
                        this.awaitingSearch = false;
                    }, 700);
                }
                this.awaitingSearch = true;
            },
            keyword_email: function (val) {
                if (!this.awaitingSearch) {
                    setTimeout(() => {
                        this.list();
                        this.awaitingSearch = false;
                    }, 700);
                }
                this.awaitingSearch = true;
            },
            keyword_company: function (val) {
                if (!this.awaitingSearch) {
                    setTimeout(() => {
                        this.list();
                        this.awaitingSearch = false;
                    }, 700);
                }
                this.awaitingSearch = true;
            },
        },
        methods: {
            list(paginate){
                this.showLoading();
                paginate = paginate || '/api/employees';
                axios.get(paginate, {
                    params: {
                        keyword_first_name: this.keyword_first_name,
                        keyword_last_name: this.keyword_last_name,
                        keyword_email: this.keyword_email,
                        keyword_company: this.keyword_company,
                        start_date_range: this.start_date_range,
                        end_date_range: this.end_date_range,
                        paging: this.paging,
                        order: this.order,
                        by: this.by,
                    },
                    headers: {
                        Authorization: 'Bearer '+auth.getAccessToken()
                    }
                })
                .then(response => {
                    this.employees = response.data.data.data;
                    swal.close();

                    if (!response.data.data.to) {
                        this.pagination = {};
                    }
                    
                    var from = response.data.data.current_page - this.offset;
                    if (from < 1) {
                        from = 1;
                    }
                    
                    var to = from + (this.offset * 2);
                    if (to >= response.data.data.last_page) {
                        to = response.data.data.last_page;
                    }
                    
                    var pagesArray = [];
                    while (from <= to) {
                        pagesArray.push(from);
                        from++;
                    }

                    this.pagination = {
                        pagesArray: pagesArray,
                        current_page: response.data.data.current_page,
                        last_page: response.data.data.last_page,
                        from_page: response.data.data.from,
                        to_page: response.data.data.to,
                        total_page: response.data.data.total,
                        path_page: response.data.data.path + '?page=',
                        first_link: response.data.data.first + this.params,
                        last_link: response.data.data.last + this.params,
                        prev_link: response.data.data.prev + this.params,
                        next_link: response.data.data.next + this.params,
                    }
                })
                .catch(error => console.log(error));
            },
            create(){
                this.showLoading();

                let formData = new FormData();
                formData.append('first_name', this.employee.first_name);
                formData.append('last_name', this.employee.last_name);
                formData.append('company_id', this.employee.company_id);
                formData.append('email', this.employee.email);
                formData.append('phone', this.employee.phone);

                axios.post('/api/employees', formData, {
                    headers: {
                        Authorization: 'Bearer '+auth.getAccessToken()
                    }
                })
                .then(data => {
                    this.hideEmployeeFormModal()
                    this.list();
                })
                .catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors
                        swal.close();
                    }
                })
            },
            show(employee){
                this.showEmployeeModal();
                this.employee.id = employee.id;
                this.employee.full_name = employee.full_name;
                this.employee.company = employee.company;
                this.employee.email = employee.email;
                this.employee.phone = employee.phone;
            },
            edit(employee){
                this.showEmployeeFormModal();
                this.errors = [];
                this.edit_data = true;
                this.employee.id = employee.id;
                this.employee.first_name = employee.first_name;
                this.employee.last_name = employee.last_name;
                this.employee.company_id = employee.company_id;
                this.employee.email = employee.email;
                this.employee.phone = employee.phone;

                this.companies.forEach(company => {
                    if (company.id == this.employee.company_id) {
                        this.selected_companies = company    
                    }
                })
            },
            update(id){
                this.showLoading();

                let formData = new FormData();
                formData.append('_method', 'PUT');
                formData.append('first_name', this.employee.first_name);
                formData.append('last_name', this.employee.last_name);
                formData.append('company_id', this.employee.company_id);
                formData.append('email', this.employee.email);
                formData.append('phone', this.employee.phone);

                axios.post('/api/employees/' + id, formData, {
                    headers: {
                        Authorization: 'Bearer '+auth.getAccessToken()
                    }
                })
                .then(data => {
                    this.hideEmployeeFormModal()
                    this.list();
                })
                .catch(error => {
                    if (error.response.status == 422) {
                        this.errors = error.response.data.errors
                        swal.close();
                    }
                })
            },
            destroy(id){
                swal.fire({
                    title: 'Are you sure ?',
                    text: 'Employee will be deleted',
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'Yes, delete it!',
                    cancelButtonText: 'Cancel',
                    reverseButtons: true
                })
                .then((result) => {
                    if (result.value) {
                        this.showLoading();
                        axios.delete('/api/employees/' + id, {
                            headers: {
                                Authorization: 'Bearer '+auth.getAccessToken()
                            }
                        })
                        .then(data => {
                            this.list()
                        })
                        .catch(error => {
                            swal.fire({
                                icon: 'error',
                                title: 'Failed',
                                text: 'Employee failed to delete',
                                showConfirmButton: false,
                                timer: 1000
                            })
                        })
                    }
                })
            },
            hideEmployeeFormModal() {
                this.$refs.employeeFormModal.hide();
                this.clearForm();
            },
            showEmployeeFormModal() {
                this.clearForm()
                this.$refs.employeeFormModal.show();
            },
            hideEmployeeModal() {
                this.$refs.employeeModal.hide();
                this.clearForm();
            },
            showEmployeeModal() {
                this.clearForm()
                this.$refs.employeeModal.show();
            },
            hideCompanyModal() {
                this.$refs.companyModal.hide();
                this.clearForm();
            },
            showCompanyModal(company) {
                this.$refs.employeeModal.hide();
                this.clearForm();
                this.company.id = company.id;
                this.company.name = company.name;
                this.company.email = company.email;
                this.company.website = company.website;
                this.company.logo = company.logo;
                this.$refs.companyModal.show();
            },
            showLoading() {
                swal.fire({
                    background: 'transparent',
                    allowOutsideClick: false,
                    didOpen: () => {
                        swal.showLoading()
                    }
                });
            },
            clearForm() {
                this.errors = [];
                this.add_data = true;
                this.edit_data = false;
                this.employee.id = '';
                this.employee.first_name = '';
                this.employee.last_name = '';
                this.employee.company_id = '';
                this.employee.email = '';
                this.employee.phone = '';
                this.company.id = '';
                this.company.name = '';
                this.company.email = '';
                this.company.website = '';
                this.company.logo = '';
                this.selected_companies = []
            },
            clearSearchFirstName() {
                this.keyword_first_name = '';
            },
            clearSearchLastName() {
                this.keyword_last_name = '';
            },
            clearSearchEmail() {
                this.keyword_email = '';
            },
            clearSearchCompany() {
                this.keyword_company = '';
            },
            clearFilter() {
                this.keyword_first_name = '';
                this.keyword_last_name = '';
                this.keyword_email = '';
                this.keyword_company = '';
                this.start_date_range = '';
                this.end_date_range = '';    
                this.list();
            },
            sort(order, by) {
                this.order = order;
                this.by = by;
                this.list();
            },
            hideEmployeeLogoModal() {
                this.$refs.employeeLogoModal.hide();
            },
            showEmployeeLogoModal(employee) {
                this.logo_preview = employee.logo;
                this.$refs.employeeLogoModal.show();
            },
            initCompany(keyword) {
                axios.get('/api/companies?master=true', {
                    headers: {
                        Authorization: 'Bearer '+auth.getAccessToken()
                    }
                })
                .then(response => {
                    this.companies = response.data.data;
                })
            },
            asyncFindCompany(keyword) {
                this.isLoading = true;
                
                axios.get('/api/companies?master=true', {
                    params: {
                        keyword: keyword,
                    },
                    headers: {
                        Authorization: 'Bearer '+auth.getAccessToken()
                    }
                })
                .then(response => {
                    this.companies = response.data.data;
                    this.isLoading = false;
                })
            },
            selectedCompany({id}){
                this.employee.company_id = id;
            },
            companyLabel({name}) {
                return `${name}`;
            },
        },
    }
</script>