<template>
    <div class="container-fluid px-4">
        <ol class="breadcrumb mt-4 box-shadow">
            <li class="breadcrumb-item">
                <router-link to="/dashboard">Dashboard</router-link>
            </li>
            <li class="breadcrumb-item active">Quotes</li>
        </ol>

        <div class="card mb-3 box-shadow">
            <div class="card-header d-flex">
                <div class="col-md-6" style="padding-left: 0px;">
                    <span>
                        <i class="fas fa-tags"></i>
                        Quotes Management
                    </span>
                </div>
                <div class="col-md-6 text-right" style="padding-right: 0px;">
                    <button class="btn btn-primary btn-sm ml-auto" @click="list()"><i class="fas fa-sync-alt"></i> Refresh</button>
                </div>
            </div>
            <div class="card-body">
                <div translate="translate" class="bd-example vue-example vue-example-b-table-complete">
                    <table aria-rowcount="12" role="table" aria-busy="false" aria-colcount="4" class="my-1 table b-table bv-docs-table table-striped table-bordered">
                        <thead role="rowgroup" class="">
                            <tr role="row" class="">
                                <th class="text-center">
                                    Quote
                                </th>
                                <th class="text-center">
                                    Author
                                </th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody role="rowgroup">
                            <tr role="row" v-for="quote, key in quotes">
                                <td class="">{{ quote.q }}</td>
                                <td class="">{{ quote.a }}</td>
                                <td class="text-center">
                                    <button class="btn btn-primary btn-sm" @click="show(quote)"><span class="fas fa-folder-open"></span></button>
                                </td>
                            </tr>
                            <tr v-if="quotes.length < 1">
                                <td colspan="6" class="text-center">
                                    Data not found
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <b-modal ref="quoteModal" hide-footer title="Quote Detail">
            <div class="d-block">
                <form>
                    <b-container fluid>
                        <b-row class="my-1">
                            <b-col sm="4">
                                <label for="quote">Quote</label>
                            </b-col>
                            <b-col sm="8">
                                <label for="quote">{{ quote.q }}</label>
                            </b-col>
                        </b-row>
                        <b-row class="my-1">
                            <b-col sm="4">
                                <label for="author">Author</label>
                            </b-col>
                            <b-col sm="8">
                                <label for="author">{{ quote.a }}</label>
                            </b-col>
                        </b-row>
                    </b-container>
                    <hr>
                    <div class="text-right">
                        <button type="button" class="btn btn-default" @click="hideQuoteModal()">Close</button>
                    </div>
                </form>
            </div>
        </b-modal>
    </div>
</template>

<style>
    .multiselect {
        width: 91% !important;
        height: 30px !important;
        min-height: 0px !important;
    }

    .multiselect__tags {
        border: unset;
        padding: 0px 40px 0 0px;
        min-height: 0px !important;
    }
    
    .multiselect__content-wrapper {
        left: 0;
    }

    .multiselect__single {
        padding-left: 0px;
        margin-bottom: 0px;
        padding-top: 3px;
    }
</style>

<script>
    import * as auth from '../services/auth_service';
    export default {
        name: 'Quote',
        data(){
            return {
                quotes:[],
                quote: {
                    q: '',
                    a: '',
                    c: '',
                    h: ''
                },
            }
        },
        created(){
            this.list()
        },
        methods: {
            list(paginate){
                this.showLoading();
                paginate = paginate || '/api/quotes';
                axios.get(paginate, {
                    headers: {
                        Authorization: 'Bearer '+auth.getAccessToken()
                    }
                })
                .then(response => {
                    this.quotes = response.data;
                    swal.close();
                })
                .catch(error => console.log(error));
            },
            show(quote){
                this.showQuoteModal();
                this.quote.q = quote.q;
                this.quote.a = quote.a;
                this.quote.c = quote.c;
                this.quote.h = quote.h;
            },
            hideQuoteFormModal() {
                this.$refs.quoteFormModal.hide();
                this.clearForm();
            },
            showQuoteFormModal() {
                this.clearForm()
                this.$refs.quoteFormModal.show();
            },
            hideQuoteModal() {
                this.$refs.quoteModal.hide();
                this.clearForm();
            },
            showQuoteModal() {
                this.clearForm()
                this.$refs.quoteModal.show();
            },
            showLoading() {
                swal.fire({
                    background: 'transparent',
                    allowOutsideClick: false,
                    didOpen: () => {
                        swal.showLoading()
                    }
                });
            },
            clearForm() {
                this.quote.q = '';
                this.quote.a = '';
                this.quote.c = '';
                this.quote.h = '';
            },
        },
    }
</script>