<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center" style="margin-top: 300px;">
                    <p class="lead">You do not have permission to access this page</p>
                    <router-link to="/dashboard"><i class="fas fa-arrow-left me-1"></i> Return Dashboard</router-link>
                </div>
            </div>
        </div>
    </div>
</template>