<template>
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark box-shadow" style="background: rgb(0, 69, 99) none repeat scroll 0% 0% !important;">
        <!-- Navbar Brand-->
        <router-link to="/dashboard" class="navbar-brand ps-3">Company CMS</router-link>
        <!-- Sidebar Toggle-->
        <!-- <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button> -->
        <!-- Navbar Search-->
        <div class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0"></div>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <a class="nav-link" id="navbarDropdown" @click="logout()" role="button" aria-expanded="false"><i class="fas fa-power-off fa-fw"></i></a>
        </ul>
    </nav>
</template>

<script>
    import * as auth from '../services/auth_service';
    export default {
        methods: {
            logout: async function() {
                auth.logout();
                this.$router.push('/login');
            },
        },
    }
</script>