<template>
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark box-shadow" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Menu</div>
                    <router-link to="/dashboard" class="nav-link" exact>
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        <span>Dashboard</span>
                    </router-link>
                    <router-link to="/companies" class="nav-link" exact>
                        <div class="sb-nav-link-icon"><i class="fas fa-tags"></i></div>
                        <span>Companies</span>
                    </router-link>
                    <router-link to="/employees" class="nav-link" exact>
                        <div class="sb-nav-link-icon"><i class="fas fa-barcode"></i></div>
                        <span>Employees</span>
                    </router-link>
                    <router-link to="/quotes" class="nav-link" exact>
                        <div class="sb-nav-link-icon"><i class="fas fa-quote-left"></i></div>
                        <span>Daily Quotes</span>
                    </router-link>
                </div>
            </div>
            <div class="sb-sidenav-footer box-shadow">
                <div class="small">Logged in as:</div>
                {{ $store.state.profile.name }}
            </div>
        </nav>
    </div>
</template>